<div class="people">
  <form action='/userInfo' class="form">
    <input type='text' placeholder="Введите Имя" name='name' class="first" />
    <input type='text' placeholder="Введите Фамилию" name='fam' />
    <input type='number' placeholder="Введите Возраст" name='age' />
    <input type='number' placeholder="Введите ИНН" name='iin' />
    <input type='date' placeholder="Введите Дату Выдачи Паспорта" name='date' />
    <input type="submit">
  </form>
    <div class="btn1">
        <button><a href="/getAllUser">Список Всех Пользователей</a></button>
    </div>
</div>

<p class="text">{{userAdd}}</p>